<?php
/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

declare(strict_types=1);

use Laminas\ConfigAggregator\ConfigAggregator;

return [
    //
    // olodoc
    // 
    'olodoc' => [
        'default_version' => '1.0',
        'available_versions' => [
            '1.0',
            '2.0'
        ],
        'default_locale' => 'en',
        'available_locales' => [
            'en',
            'tr'
        ],
        'http_prefix' => 'http://', // http(s) prefix
        'base_url' => '{locale}.example.local/', // or "example.local/{locale}"
        'images_folder' => '/public/', // location of your "/images" folder
        'remove_default_locale' => true, // removes default locale from base url: "en.example.local" => "example.local"
        'root_path' => '/var/www/myproject', // your project root 
        'html_path' => '/data/docs/', // save location for your ".html" document files
        'xml_path' => '/public/sitemap.xml',
        'build_sitemapxml' => true,
        'base64_convert' => false, // if true all images are converted to base64 encoded strings
        'anchor_generations' => true, // it will enable anchor generations for all routes
        'anchor_parse_query' => '//h2|//h3|//h4|//h5|//h6',
        'anchors_for_index_pages' => true, // if false anchors will not be created in index.html routes
    ],
    
    // Toggle the configuration cache. Set this to boolean false, or remove the
    // directive, to disable configuration caching. Toggling development mode
    // will also disable it by default; clear the configuration cache using
    // `composer clear-config-cache`.
    ConfigAggregator::ENABLE_CACHE => false,

    // Enable debugging; typically used to provide debugging information within templates.
    'debug' => true,
];