<?php
/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

declare(strict_types=1);

use Laminas\ConfigAggregator\ConfigAggregator;

return [
    //
    // olodoc
    // 
    'olodoc' => [
        'default_version' => '1.0',
        'available_versions' => [
            '1.0',
        ],
        'default_locale' => 'en',
        'available_locales' => [
            'en' => 'English',
            'de' => 'German',
            'tr' => 'Türkçe',
        ],
        'http_prefix' => 'http://', // http(s) prefix
        'base_url' => '{locale}.olodoc-skeleton.local/', // or "example.local/{locale}"
        'remove_default_locale' => true, // removes default locale from base url: "en.example.local" => "example.local"
        'images_folder' => '/public/', // location of your "/images" folder
        'config_path' => '/config/olodoc/', // your config file path 
        'root_path' => '/var/www/olodoc-skeleton', // your project root 
        'html_path' => '/data/docs/', // save location for your ".html" document files
        'xml_path' => '/public/sitemap.xml',
        'sitemap_base_url' => 'example.com', // sitemap.xml base url
        'build_sitemapxml' => true,
        'base64_convert' => false, // if true all images are converted to base64 encoded strings
        'anchor_generations' => true, // it will enable anchor generations for all routes
        'anchor_parse_query' => '//h2|//h3|//h4|//h5|//h6',
        'anchors_for_index_pages' => true, // if false anchors will not be created in index.html routes
        // 
        // More flags is here: https://github.com/lipis/flag-icons/tree/main/flags/1x1
        // 
        'flags' => [
            'en' => '<svg xmlns="http://www.w3.org/2000/svg" class="grayscale ol-flag" width="24" height="24" id="flag-icons-en" viewBox="0 0 512 512"><path fill="#bd3d44" d="M0 0h512v512H0"/><path stroke="#fff" stroke-width="40" d="M0 58h512M0 137h512M0 216h512M0 295h512M0 374h512M0 453h512"/><path fill="#192f5d" d="M0 0h390v275H0z"/><marker id="us-a" markerHeight="30" markerWidth="30"><path fill="#fff" d="m15 0 9.3 28.6L0 11h30L5.7 28.6"/></marker><path fill="none" marker-mid="url(#us-a)" d="m0 0 18 11h65 65 65 65 66L51 39h65 65 65 65L18 66h65 65 65 65 66L51 94h65 65 65 65L18 121h65 65 65 65 66L51 149h65 65 65 65L18 177h65 65 65 65 66L51 205h65 65 65 65L18 232h65 65 65 65 66z"/></svg>',
            'tr' => '<svg xmlns="http://www.w3.org/2000/svg" class="grayscale ol-flag" width="24" height="24" id="flag-icons-tr" viewBox="0 0 512 512"><g fill-rule="evenodd"><path fill="#e30a17" d="M0 0h512v512H0z"/><path fill="#fff" d="M348.8 264c0 70.6-58.3 127.9-130.1 127.9s-130.1-57.3-130.1-128 58.2-127.8 130-127.8S348.9 193.3 348.9 264z"/><path fill="#e30a17" d="M355.3 264c0 56.5-46.6 102.3-104.1 102.3s-104-45.8-104-102.3 46.5-102.3 104-102.3 104 45.8 104 102.3z"/><path fill="#fff" d="m374.1 204.2-1 47.3-44.2 12 43.5 15.5-1 43.3 28.3-33.8 42.9 14.8-24.8-36.3 30.2-36.1-46.4 12.8z"/></g></svg>',
            'de' => '<svg xmlns="http://www.w3.org/2000/svg" class="grayscale ol-flag" id="flag-icons-de" viewBox="0 0 512 512"><path fill="#fc0" d="M0 341.3h512V512H0z"/><path fill="#000001" d="M0 0h512v170.7H0z"/><path fill="red" d="M0 170.7h512v170.6H0z"/></svg>',
        ],
    ],
    
    // Toggle the configuration cache. Set this to boolean false, or remove the
    // directive, to disable configuration caching. Toggling development mode
    // will also disable it by default; clear the configuration cache using
    // `composer clear-config-cache`.
    ConfigAggregator::ENABLE_CACHE => false,

    // Enable debugging; typically used to provide debugging information within templates.
    'debug' => true,
];